body {
    font-family: sans-serif;
    background-color: rgb(183, 183, 183);
    color: rgb(17, 17, 17);
}

.mark {
    color: rgb(0, 0, 0);
    padding-inline: .5rem;
    text-decoration: underline;
    font-weight: bold;
}
